<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title> <!--send there TITLE from get response-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="index.css">
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Web Blogs</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/blog">Create a blog</a></li>

                <li><a href="/">My blogs</a></li>
                <li><a href="/user">Log In</a></li>
                <li><a href="/user">Sign In</a></li>

            </ul>
        </div>
    </nav>

    {{{body}}}
</body>
</html>