<div class="row">
    <h3>Sign in (enter your email)</h3>
    <form class="col s12" action="/signinuser" method="post">

        <div class="row">
            <label for="email">Email</label>
            <div class="input-field col s12">
                <input id="email" type="email" class="validate" name="email">
            </div>
        </div>

        <div class="row">
            <label for="password">Password</label>
            <div class="input-field col s12">
                <input id="password" type="password" class="validate" name="password">
            </div>
        </div>

        <button type="submit" class="btn">Sign In</button>
    </form>
</div>