
<form action="/blog" method="post">

    <h3>Createa a Blog</h3>

    <label>insert content TITLE</label>

    <div class="div">
        <input type="text" name="titleText" /> <!-- text-->

    </div> <!-- .input class from materialiseSCC-->

    <label>insert content</label>

    <div class="">
        <input type="text" name="content" /> <!-- insert content-->

    </div>

    <label>insert date</label>

    <div class="">
        <input type="datetime-local" name="datePubl" /> <!-- insert Date-->

    </div>
    
    <button type="submit" class="btn">CreateBlog</button>
</form>
